{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
 {% block titleTwig %} Add User {% endblock %}
{% block body %}

    <div class="container " style="width:800px">
        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
    <button type="submit" class="button">Register</button>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
