#menuV
{
    height:1500px;
    width: 200px;
    padding-top: 20px;
    padding-left: 8px;
    background-color : #f5f5f5;

}
.button
{
    background-color: rgba(106, 166, 168, 0.91);
}

#navbarH
{
    margin-left: 170px;
}

.nav a
{
    color: black;
    font-weight : 10;
    font-size:20px;
    margin-bottom: 30px;
}
.nav a:hover
{
    background-color: rgba(170, 168, 168, 0.23);
    color: white;
}
.json .input
{
    width:300px;
    height:31px;
}
#navbarH a:hover
{
    background-color: rgba(170, 168, 168, 0.23);
    color: white;
}
.navbar
{
    height:60px;
    background-color : #f5f5f5;
}
.navbar .navbar-link
{
    height:40px;
}
.navbar .navbar-dropdown
{
    margin-top:0%;
}
a
{
    text-decoration: none;
    color: black;
}
#logo
{
    max-height:58px;
    margin-bottom:50px;
    margin-left: 20px;
}
.welcomeText
{
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.welcomeText h1
{
    font-size: 70px;
    font-family: New Century Schoolbook, serif;
    color: #626969;
}


.profileDiv  input,
textarea{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 500px;
    height: 30px;
    border-radius: 5px;
    max-width: 50%;
    border-color: darkkhaki;
}
.profileDiv
{
    text-align: center;
    background-color: lavender;
    border: 10px  white;
    margin-left: 350px;
    margin-right: 350px;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.divIframe
{
    margin-left:100px;
}
#iframe
{
    width: 800px;
    height: 700px;
    visibility:visible
}
#formConx
{
    margin-top: 50px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#login
{
    width: 100%;
}





