{% extends 'base.html.twig' %}
 {% block titleTwig %}Add Client{% endblock %}
{% block body %}

    <div class="container" style="width:800px">
        {{ form_start(formclient) }}
        {{ form_widget(formclient) }}
        <button style="margin-top: 25px" class="button" type="submit">Register</button>
        {{ form_end(formclient) }}
    </div>

{% endblock %}

{% block title %}
addclient
{% endblock %}

