{% extends 'base.html.twig' %}

{% block body %}
    <div class="column divIframe" >
        <iframe id="iframe"  src="https://www.google.com/search?igu=1" ></iframe>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

