{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(formoutil) }}
    {{ form_widget(formoutil) }}
    <button type="submit" class="btn">Register</button>
    {{ form_end(formoutil) }}
{% endblock %}

{% block title %}

{% endblock %}

