{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(formclient) }}
    {{ form_widget(formclient) }}
    <button class="btn btn-lg btn-primary" type="submit">Register</button>
    {{ form_end(formclient) }}
{% endblock %}

{% block title %}

{% endblock %}

