{% extends 'base.html.twig' %}
{% block titleTwig %}Update Client{% endblock %}
{% block body %}
    <div class="container" style="width: 800px;">
        {{ form_start(formclient) }}
        {{ form_widget(formclient) }}
        <button class="button" type="submit">Register</button>
        {{ form_end(formclient) }}
    </div>

{% endblock %}

{% block title %}

{% endblock %}

