{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(formtache) }}
        {{ form_widget(formtache) }}
        <button type="submit" style="margin-top: 15px" class="btn btn-primary">Modifier</button>
        {{ form_end(formtache) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

